:root {
    --color-black: #0A0A0A;
    --color-dark: #141414;

    --color-white: #EFEAD8;
    --color-green: #66BA84;
    --color-blue: #66AACC;

    --border-radius: 15px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-black);
    color: var(--color-white);
}

a {
    text-decoration: none;
    color: var(--color-blue);
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.background {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 110%;
    transform: translate(-50%, -50%);
    filter: grayscale(80%) brightness(30%);
    object-fit: cover;
    z-index: -1;
}

.splash {
    background-color: rgba(0, 0, 0, 0);
    padding: 150px 0;
    text-align: center;
    font-size: xx-large;
}

.circle {
    border-radius: 50%;
    border: 10px solid var(--color-white);
}

.name {
    color: var(--color-blue);
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.links > * {
    padding: 0 20px;
    color: white;
}

.page {
    background-color: var(--color-black);
    padding: 150px 0 100px 0;
    border-radius: var(--border-radius);
}

.section {
    margin: 0 min(15%, 400px);
}

.section > h1::before {
    content: '{';
    color: var(--color-green);
}

.section > h1::after {
    content: '}';
    color: var(--color-green);
}

.segment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    background-color: var(--color-dark);
    border-radius: var(--border-radius);
    border: 2px solid var(--color-white);
}

.container > * {
    padding: 40px 40px;
}

.project-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark);
    border-radius: var(--border-radius);
    border: 2px solid var(--color-white);
    padding: 15px 40px;
    margin-bottom: 40px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project > h2 {
    text-align: left;
}

.tags {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.tag {
    background-color: var(--color-blue);
    color: var(--color-dark);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9em;
    font-weight: bold;
}

.description {
    font-size: 1rem;
    margin-bottom: 20px;
}

.project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.project-links > * {
    padding: 0 20px;
    color: white;
}