body {
    font-family: 'Inter', sans-serif;
    background-color: #11101C;
    color: rgb(253, 233, 205);
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 64px;
    margin-top: 65px;
    margin-bottom: 100px;
}

h2 {
    text-align: center;
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 28px;
}

p {
    font-size: 20px;
}

i {
    color: rgb(253, 233, 205);
    scale: 2.0;
}

@keyframes fade_in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.splash {
    animation: fade_in 1s ease;
}

.about {
    animation: fade_in 1s ease 0.2s backwards;
}

.projects {
    animation: fade_in 1s ease 0.4s backwards;
}

@keyframes changeText {
    0%, 10% {
        content: 'char *';
    }
    11% {
        content: 'char ';
    }
    12% {
        content: 'cha ';
    }
    13% {
        content: 'ch ';
    }
    14% {
        content: 'c ';
    }
    15% {
        content: ' ';
    }
    16% {
        content: 's ';
    }
    17% {
        content: 'st ';
    }
    18% {
        content: 'std ';
    }
    19% {
        content: 'std:: ';
    }
    20% {
        content: 'std::s ';
    }
    21% {
        content: 'std::st ';
    }
    22% {
        content: 'std::str ';
    }
    23% {
        content: 'std::stri ';
    }
    24% {
        content: 'std::strin ';
    }
    25%, 44% {
        content: 'std::string ';
    }
    45% {
        content: 'std::strin ';
    }
    46% {
        content: 'std::stri ';
    }
    47% {
        content: 'std::str ';
    }
    48% {
        content: 'std::st ';
    }
    49% {
        content: 'std::s ';
    }
    50% {
        content: 'std:: ';
    }
    51% {
        content: 'std ';
    }
    52% {
        content: 'st ';
    }
    53% {
        content: 's ';
    }
    54% {
        content: ' ';
    }
    55% {
        content: 'S ';
    }
    56% {
        content: 'St ';
    }
    57% {
        content: 'Str ';
    }
    58% {
        content: 'Stri ';
    }
    59% {
        content: 'Strin ';
    }
    60%, 79% {
        content: 'String ';
    }
    80% {
        content: 'Strin ';
    }
    81% {
        content: 'Stri ';
    }
    82% {
        content: 'Str ';
    }
    83% {
        content: 'St ';
    }
    84% {
        content: 'S ';
    }
    85% {
        content: ' ';
    }
    86% {
        content: 'c ';
    }
    87% {
        content: 'ch ';
    }
    88% {
        content: 'cha ';
    }
    89% {
        content: 'char ';
    }
    90% {
        content: 'char *';
    }
}

.code-text::before {
    content: 'char *';
    animation: changeText 6s infinite;
}

.round_image {
    transition: transform 0.3s ease, border 0.3s ease;
}

.round_image:hover {
    transform: scale(1.05);
    border: 5px solid #639bff;
}

.button {
    transition: transform 0.3s ease, opacity 0.3s ease, scale 0.3s ease, color 0.3s ease;
}

.button:hover {
    transform: translateY(-2px);
    opacity: 0.8;
    scale: 1.2;
    color: #639bff;
}

.button i {
    transition: color 0.3s ease;
}

.button:hover i {
    color: #639bff;
}

.round_image {
    display: block;
    margin: 60px auto 0;
    border-radius: 50%;
    border: 5px solid rgb(253, 233, 205);
}

.splash {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding-bottom: 100px;
    font-family: 'Inter', sans-serif;
    background-color: #11101C;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80px;
}

.page {
    padding: 50px 15% 100px;
    background-color: #222034;
}

.about {
    margin-bottom: 60px;
}

.projects {
    margin-bottom: 60px;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    background-color: #12111D;
    border-radius: 6px;
    padding: 20px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.project {
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.02);
}